//- @filename: mixin_ruleAddDrd.pug.pug
//- @mixin
//- This file contains a dropdown menu that contains list of options 
//-         that users can select

//- @name mixin_ruleAddDrd.pug
//- @descripton It lets user add a default rule or rule group
//- use: +mixin_ruleAddDrd()
//- useExample: +mixin_ruleAddDrd()
mixin mixin_ruleAddDrd()
  .rule_add_container
    button.rule_addDrdbtn +
    .rules_addDrd_content
      button.rule_addBtn New Rule Above
      button.rule_addBtn New Rule Below
      button.rule_addBtn New Group Below
      button.rule_addBtn New Group Above

