//- @filename: ruleWriter.pug
//- @page
//- ruleWriter page

extends layout

include ..\mixins\mixin_ruleCondition.pug

block append scripts
	script( src="ruleWriter.js" defer)
	link( rel="stylesheet" href="ruleWriter.css")

block content
	.main
		h1 Rules

		.file
			input#loadfileInput(type="file" accept=".json" hidden)

		.buttons
			button#loadBtn.btn.btn_load Load
			button#exportBtn.btn.btn_export Export

		form.rules_container
			//- +mixin_ruleConditions(["a", "b", "c","script","Equal","10.10.1.1","dstip","Equal","10.10.1.5"], ["and", "or"])
			ul.rule_conditions
				+mixin_ruleCondition("script","Equal","10.10.1.1")
				+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue :"AND", opType: "rule"})
				ul.rule_conditions
					+mixin_ruleCondition("dstip","Equal","10.10.1.5")
					+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"OR", opType: "rule"})
					+mixin_ruleCondition("port","Equal",2)
				+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"AND", opType: "rule"})
				ul.rule_conditions
					+mixin_ruleCondition("sentbyte","Equal","50")
					+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"AND", opType: "rule"})
					+mixin_ruleCondition("rcvdbyte","Equal","30")
				+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"AND", opType: "rule"})
				+mixin_ruleCondition("user","Equal","saksham")