//- @filename: ruleWriter.pug
//- @page
//- ruleWriter page

extends layout

include ..\mixins\mixin_ruleCondition.pug

block append scripts
	script( src="ruleWriter.js" defer)
	link( rel="stylesheet" href="ruleWriter.css")

block content
	.main
		h1 Rules
		.buttons
			button#loadBtn.btn.btn_load Load
			button#exportBtn.btn.btn_export Export

		form.rules_container
			ul.rule_conditions
				+mixin_ruleCondition("script","Equal","10.10.1.1")
				li.rule_operator AND
				ul.rule_conditions
					+mixin_ruleCondition("dstip","Equal","10.10.1.5")
					li.rule_operator OR
					+mixin_ruleCondition("port","Equal",2)
				li.rule_operator AND
				ul.rule_conditions
					+mixin_ruleCondition("sentbyte","Equal","50")
					li.rule_operator AND
					+mixin_ruleCondition("rcvdbyte","Equal","30")
				li.rule_operator AND
				li.rule_condition 
					+mixin_ruleCondition("user","Equal","saksham")