//- @filename: ruleWriter.pug
//- @page
//- ruleWriter page

extends layout

include ..\mixins\mixin_ruleCondition.pug
include ..\mixins\mixin_ruleAddDrd.pug

block append scripts
	script( src="ruleWriter.js" defer)
	script( src="mixins/mixin_ruleAddDrd.js" defer)
	link( rel="stylesheet" href="ruleWriter.css")

block content
	.main
		h1 Rules
		+mixin_ruleAddDrd
		.file
			input#loadfileInput(type="file" accept=".json" hidden)

		#ruleFormats.ruleFormats(hidden)
			+mixin_ruleCondition()
			+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue :"AND", opType: "rule"})

		.buttons
			button#loadBtn.btn.btn_load Load
			button#exportBtn.btn.btn_export Export

		form.rules_container
			ul.rule_conditions
				+mixin_ruleCondition("script","Equal","10.10.1.1")
				+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue :"AND", opType: "rule"})
				ul.rule_conditions
					+mixin_ruleCondition("dstip","Equal","10.10.1.5")
					+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"OR", opType: "rule"})
					+mixin_ruleCondition("port","Equal",2)
				+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"AND", opType: "rule"})
				ul.rule_conditions
					+mixin_ruleCondition("sentbyte","Equal","50")
					+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"AND", opType: "rule"})
					+mixin_ruleCondition("rcvdbyte","Equal","30")
				+mixin_operator({operatorPlaceholder: "Rule operator", operatorValue:"AND", opType: "rule"})
				+mixin_ruleCondition("user","Equal","saksham")